$primary_color: #00A3FF;
$hover_color: #0090e2;
$orange: #ffb74e;

$violet: #9A50FF;

$green: #05E298;
$grey: #AEAEAE;
$grey-2: #717171;
$blue: #00A3FF;

$yellow-new: $primary_color;

//social-colors
$vk: #4a76a8;
$fb: #3b5998;
$telegram: #0088cc;

$primary_font: 'Roboto', sans-serif;
$secondary_font: 'Roboto', sans-serif;
$icomoon-font-path: "../../fonts/icomoon/fonts" !default;
