.item-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  max-width: calc(33.3333% - 10px);
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(#ebebeb,1);
  overflow: hidden;
  margin-bottom: 20px;
  @media only screen and (max-width: 800px) {
    max-width: calc(50% - 10px);
  }
  @media only screen and (max-width: 580px) {
    max-width: 100%;
  }
  &__top {
    flex: 1 0 auto;
  }
  &__header {
    position: relative;
    width: 100%;
    .tags-list {
      position: absolute;
      left: 20px;
      bottom: 20px;
      .tag {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
  &__content {
    padding: 20px 20px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-top: 1px solid #ebebeb;
    &-group {
      display: flex;
      align-items: center;
      > * {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }
  &__title {
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 16px;
    transition: all 0.1s ease 0s;
    &:hover {
      color: #4886ff;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 1.4;
  }
  &__img {
    width: 100%;
  }
}
