.c-student-form {
  padding-bottom: 40px;
  h2 {
    margin-bottom: 20px;
  }
}

.form {
  &__registration {

  }
  &__group {
    margin-bottom: 24px;
    > * {
      &:last-child {
        margin-bottom: 0!important;
      }
    }
  }
  &__field {
    margin-bottom: 16px;
  }
  &__message {
    padding: 16px 0;
    color: #155724;
  }
}