.c-header {
  padding: 20px 0;
  ul {
    a {
      color: #00A3FF;
      font-size: 16px;
      text-transform: uppercase;
      &.active,
      &.is-active {
        color: #9A50FF;
      }
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}