$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-keyboard_arrow_up: "\e904";
$icon-keyboard_arrow_right: "\e905";
$icon-keyboard_arrow_left: "\e906";
$icon-keyboard_arrow_down: "\e907";
$icon-close: "\e900";
$icon-share: "\e901";
$icon-heart: "\e902";
$icon-comment: "\e903";

