.tag {
  border-radius: 4px;
  background: #ffb74e;
  padding: 4px 16px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 0 6px rgba(#000,0.3);
  transition: all 0.1s ease 0s;
  &:hover {
    background: #ff9802;
  }
}